<h1>Todo List</h1>
<a href="/users/<%= params[:user_id] %>/todos/new">Add todo</a>
<% if @todos != nil %>
    <% @todos.each do |todo| %>
        <a href="/users/<%= params[:user_id] %>/todos/<%= todo.id %>">
            <%= todo.title %>
        </a>
    <% end %>
<% end %>
