// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//searchbar style
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  // background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

.form {
  display: inline-block;
  text-align: center;
}

.list-group-item {
  border: 1px solid white;
}

h3 {
  color: white;
}

$calTopRed: #EE5838;
$calBottomRed: #BA3418;
$backgroundRed: #2EFFC4;

.cal-section {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}

body {
  // background-image: url("/images/planet.jpg");
  // background-color: white;
  // overflow: hidden;
  background: url(/images/desk.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cal-section {
  display: table;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;

  & time.icon {
    border-radius: 40px;
    border:1px solid white;
    transition: all .1s ease-in-out;
    &:hover {
      -webkit-box-shadow: 0 1px 2px rgba(38, 50, 56, .5);
      -moz-box-shadow: 0 1px 2px rgba(38, 50, 56, .5);
      box-shadow: 0 1px 2px rgba(38, 50, 56, .5);
    }
    -webkit-box-shadow: 0 1px 2px rgba(38, 50, 56, .25);
    -moz-box-shadow: 0 1px 2px rgba(38, 50, 56, .25);
    box-shadow: 0 1px 2px rgba(38, 50, 56, .25);
    font-size: 1em; /* change icon size */
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    & * {
      display: block;
      width: 100%;
      text-align: center;
      font-style: normal;
    }
    & .cal-top {
      position: absolute;
      top: 0;
      height: 15px;
      padding: 0;
      background-color: $calTopRed;
      border-bottom: 1px $calBottomRed;
      box-shadow: 0 9px 0 $calBottomRed;
    }
    & p {
      position: absolute;
      font-size: 14px;
      padding-top: 21px;
      color: black;
    }
    & span {
      font-size: 20px;
      padding-top: 55%;
      color: black;
    }
  }
}

.sidebar {
  margin-top: 60px;
  top: 0;
  right: 3%;
  position: fixed;
  overflow: hidden;
  border-radius: 4px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid white;
}

.content {
  // background: red;
  // overflow: auto;
  display: block;
  margin-top: 60px;
  overflow-y: auto;
}

.navbar-inverse {
  background-color: transparent;
  border-color: white;
  margin-bottom: 1px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 9999;
  // position: absolute;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}
.navbar-inverse .navbar-brand {
  color: white;
}

.fade {
  margin: 5px;
  background-color: red;
  opacity: 1;
}

span .glyphicon {
  margin-right: 0.5em;
  display: inline-block;
}

span .glyphicon-ok{
  margin-right: 0;
}

.ar-header {
  margin-top: 2px;
}

.uncompleted-todos {
  margin-top: 2px;
}

.recently-completed .row {
  margin-top: 2px;
}

.sidebar h3 {
  color: transparent;
  text-shadow: -1px 0 transparent, 0 1px transparent, 1px 0 transparent, 0 -1px white;
}

.calendar-header img {
  max-height: 60px;
  max-width: auto;
  padding: 0px;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid white;
    padding: 10px 25px;
    width: 100%;
    background: transparent;
    text-align: center;
    margin-bottom: 2px;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    // color: #2BD6FA;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin-bottom: 2px;
    padding: 10px 0;
    background-color: transparent;

}

.weekdays li {
    display: inline-block;
    width: 14.28%;
    color: white;
    text-align: center;
}

/* Days (1-31) */
.days {
    text-align: left;
    padding: 0 0;
    background: transparent;
    margin: 0;
    // display: table;
    // table-layout: fixed;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.7%;
    text-align: center;
    margin-bottom: 2px;
    margin-right: 1px;
    margin-left: 1px;
    font-size:1vw;
    // color:#2BD6FA;
    color: white;
    padding: 10px 10px;
    background: transparent;
    border-radius: 3px;
    border: 1px solid white;
    // display: table-cell;
}

/* Highlight the "current" day */
.days .active {
    list-style-type: none;
    display: inline-block;
    width: 13.22%;
    text-align: center;
    margin-bottom: 2px;
    font-size:12px;
    padding: 10px 10px;
    background: #2BD6FA;
    color: white !important
}

.calendar {
  margin-top: 270px;
  top: 2px;
  right: 3%;
  // height: auto;
  // width: 325px;
  position: fixed;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;

}
