// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form {
  display: inline-block;
  text-align: center;
}

.list-group-item {
  border: 1px solid white;
}

h3 {
  color: white;
}

$calTopRed: #EE5838;
$calBottomRed: #BA3418;
$backgroundRed: #2EFFC4;

.cal-section {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}

body {
  // background-image: url("/images/planet.jpg");
  // background-color: white;
  // overflow: hidden;
  background: url(/images/relax.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cal-section {
  display: table;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;

  & time.icon {
    border-radius: 40px;
    border:1px solid white;
    transition: all .1s ease-in-out;
    &:hover {
      -webkit-box-shadow: 0 1px 2px rgba(38, 50, 56, .5);
      -moz-box-shadow: 0 1px 2px rgba(38, 50, 56, .5);
      box-shadow: 0 1px 2px rgba(38, 50, 56, .5);
    }
    -webkit-box-shadow: 0 1px 2px rgba(38, 50, 56, .25);
    -moz-box-shadow: 0 1px 2px rgba(38, 50, 56, .25);
    box-shadow: 0 1px 2px rgba(38, 50, 56, .25);
    font-size: 1em; /* change icon size */
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    & * {
      display: block;
      width: 100%;
      text-align: center;
      font-style: normal;
    }
    & .cal-top {
      position: absolute;
      top: 0;
      height: 15px;
      padding: 0;
      background-color: $calTopRed;
      border-bottom: 1px $calBottomRed;
      box-shadow: 0 9px 0 $calBottomRed;
    }
    & p {
      position: absolute;
      font-size: 14px;
      padding-top: 21px;
      color: black;
    }
    & span {
      font-size: 20px;
      padding-top: 55%;
      color: black;
    }
  }
}

.sidebar {
  margin-top: 60px;
  top: 0;
  right: 3%;
  position: fixed;
  overflow: hidden;
}

.content {
  // background: red;
  // overflow: auto;
  display: block;
  margin-top: 60px;
  overflow-y: auto;
}

.navbar-inverse {
  background-color: transparent;
  border-color: white;
  margin-bottom: 1px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 9999;
  // position: absolute;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}
.navbar-inverse .navbar-brand {
  color: white;
}
